<!-- include('layouts/header') -->

<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="images/GO.png" alt="profile" class="img-thumbnail rounded-circle" width="250" />
      <h1 class="display-4">Gerdo Trada Wijaya</h1>
      <p class="lead">iFabula</p>
    </div>
  </div>
</div>

<!-- include('layouts/footer') -->