<!-- include('layouts/header') -->

<h1>Hello World !</h1>
<p>Welcome <%= name %> to my page...</p>

<h3>Daftar Mahasiswa</h3>
<% if (mahasiswa.length < 1) { %>
<p>Data mahasiswa kosong.</p>
<% } else { %> <% mahasiswa.forEach(mhs => { %>
<ul>
  <li>Nama: <%= mhs.nama %></li>
  <li>Email: <%= mhs.email %></li>
</ul>
<% }) %> <% } %>

<!-- include('layouts/footer') -->
